* {
    margin: 0;
    box-sizing: border-box;
}

body{
	font-family: "georgia" cursive;
	font-style: italic;
	background-image: url(img/baggrund.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
    width: 100vw;
    height: 20vw;
/*	padding: 10vw;*/
    display: grid;
    grid-template-columns: repeat(13, 1fr);
	position: fixed;
	top: 5vw;
	z-index: -1;
}

section {
    grid-template-columns: repeat(13, 1fr);
    max-width: 1200px;
    margin: 10vw auto;
	padding: 4vw;
}


h1{
	grid-column: 1/14;
	text-align: center;
	font-size: 5.5vw;
	padding: 2vw;
	color: #052951;
}

/***** Infografik mikkel ****/

#kampagnevideo{
	margin-top: 20vw;
}

#yndlings{
	background-image: url(img/yndlings.svg);
	grid-column: 7;
	grid-row: 1;
	background-size: contain;
	width: 40vw;
	height: 10vw;
	background-repeat: no-repeat;
}

#sikrerdinyndlingstid{
	font-size: 4.5vw;
	grid-column: 7;
	grid-row: 1;
	text-align: right;
}

.yndlingstid{
	background-image: url(img/yndlingstid.png);
	grid-column: 7;
	grid-row: 2;
	background-size: contain;
    overflow: hidden;
    width: 80vw;
	height: 10vw;
    background-repeat: no-repeat;
}

.video {
    grid-column: 2/13;
	text-align: center;
	height: 50vw;
}

.forsikringsbehov {
	background-image: url(img/infografik.png);
	grid-column: 2/13;
	height: 50vw;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
}
