* {
    margin: 0;
    box-sizing: border-box;
}

body{
	font-family: "georgia" cursive;
	font-style: italic;
}

header {
    background-color: #082945;

    width: 100vw;
    height: 20vw;

    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

#titel {
    background-image: url(img/y.svg);
    background-size: contain;
    overflow: hidden;
    width: 80vw;
    background-repeat: no-repeat;
	
    grid-column: 7;
    margin-top: 2vw;
}

section {
    grid-template-columns: repeat(13, 1fr);
    max-width: 1200px;
    margin: 10vw auto;
	padding: 4vw;
    background-color: #DFEDFA;
}



h1{
	grid-column: 1/14;
	text-align: center;
	font-size: 5.5vw;
	padding: 2vw;
	color: #052951;
}

/***** Infografik mikkel ****/

.video {
    grid-column: 2/13;
	text-align: center;
}

.forsikringsbehov {
	background-image: url(img/infografik.png);
	grid-column: 2/13;
	height: 50vw;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
}
